:root {
  --fed-bg-color: #0c2a4c;
  --fed-color: #c8acd6;
}
body {
  background-color: var(--fed-bg-color);
}

.fed-text-color {
  color: var(--fed-color);
}

.fed-text-color-dark {
  color: #0c2a4c;
}

.offcanvas-custom {
  max-width: 250px;
}
